/* ------------------------------- MINI button bar-------------------------------------- */

/* first to utilize the unused tabs toolbar space */
#TabsToolbar-customization-target
{ position: fixed; top: 40px; border-radius: 4px; background: rgba(0,0,0,0.4); }

#tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow]) ~ #new-tab-button, 
#tabbrowser-tabs[overflow] > #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > 
#tabs-newtab-button, #tabbrowser-tabs:not([hasadjacentnewtabbutton]) > 
#tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > 
#tabs-newtab-button, #TabsToolbar[customizing="true"] #tabs-newtab-button { display: flex; }

/* this button is a pain */
#alltabs-button {display: none;}

/* visual indicator, when on customize toolbar screen */
#TabsToolbar:is([customizing="true"]) #TabsToolbar-customization-target
{background: black !important; padding-right:32px !important;}

#TabsToolbar:is([customizing="true"]) #tabbrowser-tabs {display: none;}
#TabsToolbar:is([customizing="true"]) #tabbrowser-arrowscrollbox {display: none;}

#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(1),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(2),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(4),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(5),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(6),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(7),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(8),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(9),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(10),
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(11) {
position: absolute; display: flex;
z-index: 2; top: 1px;
}

#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(1) {
  top: calc(100vh - 85px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(2) {
  top: calc(100vh - 122px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(4) {
  top: calc(100vh - 159px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(5) {
  top: calc(100vh - 196px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(6) {
  top: calc(100vh - 233px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(7) {
  top: calc(100vh - 270px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(8) {
  top: calc(100vh - 307px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(9) {
  top: calc(100vh - 344px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(10) {
  top: calc(100vh - 381px);}
#TabsToolbar:not([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(11) {
  top: calc(100vh - 418px);}


#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(1),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(2),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(4),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(5),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(6),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(7),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(8),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(9),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(10),
#TabsToolbar:is([customizing="true"]) .toolbarbutton-1[removable="true"]:nth-of-type(11) {
position: initial;
display: flex;
background: rgba(255,255,255,0.2);
z-index: 1;
top: initial;
}
