#tabbrowser-tabpanels {
  browser[type="content"] {
    border-radius: 5px !important;
    width: 99.8%; height: 99.6%;
    margin-left: 0.2%; margin-right: 0.2%;
    margin-bottom: 0.25%;
  }
}